body{
    background: #60a3bc !important;
    font-size:14px;
    color:#fff;
}
.simple-login-container{
    width:300px;
    max-width:100%;
    margin:50px auto;
}
.simple-login-container h2{
    text-align:center;
    font-size:20px;
}

.simple-login-container .btn-login{
    background-color:rgb(41, 59, 150);
    color:#fff;
}
a{
    color:#fff;
}